img.list_img{
	max-height:90px;
	width:90px;
	box-shadow: 1px grey;
	margin-left: 0px;
	padding: 0px;
}	
.list_mg{
	padding: 9px auto;
}
.main-header .logo .logo-lg {
    display: block;
    height: 50px !important;
}
span.logo-lg img {
    height: 100%;
}
.box{
	margin-top:20px;
}